body,
html {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  background-color: #F5F1DC;
  margin: 0px;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

a {
  font-family: "brother-1816", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #780116;
  text-decoration: none;

  display: block;
  transition: 0.3s;
  padding: 8px 8px 8px 32px;
}
 a:hover {
    color: #E36414;
  }

p,
label {
  font-family: "brother-1816", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #102022 !important;
  line-height: 30px;
  padding-bottom: 10px;

}

h1 {
  font-family: "Galada";
  font-style: normal;
  line-height: 20px;
  color: #102022 !important;
  font-weight: 400;
  font-size: 40px;
}

h2 {
  font-family: "Galada";
  font-style: normal;
  line-height: 20px;
  color: #102022 !important;
  font-weight: 400;
}

h3 {
  font-family: "Galada";
  font-style: normal;
  line-height: 20px;
  color: #102022 !important;
  font-weight: 400;
}

/* Hero banner styling */


.hero {
  padding-top: 140px;
  padding-bottom: 32px;
  margin: 20px;
}

.hero_title {
  font-style: normal;
  font-size: 60px;
  color: #780116;
  padding: 0px;
  margin: 30px 0px 0px 0px !important;
  line-height: 60px;
}

.illustrations {
  position: absolute;
  padding: top 0px !important;
  margin-left: 5vw;
  height: auto;
  z-index: 1;
}

.illustrations img {
  position: absolute;
  width: 15vw;

}

.snack1 {
  left: 70vw;
  height: auto;
  top: 15px;
}

.snack2 {
  left: 57vw;
  top: 0px;
}

.snack3 {
  left: 66vw;
  top: -40px;
}

.snack4 {
  left: 50vw;
  top: -40px;
}

.over {
  padding-top: 32px !important;
  background-color: #F5F1DC;
  padding-bottom: 32px !important;
  padding: 20px;
}

.over img {
  width: 99%;
  border: 3px solid #780116;
  border-radius: 16px;
}

.wijZijn {
  padding-bottom: 32px;
}

.events {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  padding: 20px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: stretch;
}

.item {
  background-color: #102022;
  border: solid 2px #102022;
  border-radius: 16px;
  padding: 5px;
}

.item p,
.item h2,
.item h3 {
  color: #F5F1DC !important;
  padding-left: 10px;
}

.item img {
  width: 98.5%;
  border: 3px solid #102022;
  border-radius: 16px 16px 0px 0px;
}

.primary_button {
  font-size: 20px;
  background-color: #780116;
  color: #F5F1DC !important;
  border: none;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 32px;
  padding: 10px 25px 10px 25px !important;
  margin-top: 20px;
}

.secondary_button {
  font-size: 20px;

  background-color: transparent;
  color: #780116 !important;
  border: 3px solid #780116;
  margin: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 32px;
  padding: 10px 25px 10px 25px !important;
  margin-top: 20px;
}

/* Side menu*/
.sidepanel {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #F5F1DC;
  overflow-x: hidden;
  padding-top: 80px;
  transition: 0.5s;

}

.sidepanel a {
  text-decoration: none;
  color: #780116;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #E36414;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 50px;
  margin-left: 80px;
  padding-top: 12px;
}

.openbtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  font-weight: 900;
  cursor: pointer;
  background-color: #F5F1DC;
  color: #780116;
  padding: 5px;
  border: none;

}

.openbtn:hover {
  background-color: #444;
}

.mainmenu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.carousel {
  font-family: "brother-1816", sans-serif !important;
  margin: auto;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  border: solid 3px #780116;
  border-radius: 16px;
}

.carousel h2 {
  font-family: "brother-1816", sans-serif !important;
  font-weight: 500;
}

.carousel-track {
  display: flex;
  transition: transform 1s ease-in-out;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.active,
.dot:hover {
  background-color: #717171;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.Slides img {
  margin: 20px;
  width: 290px !important;
  height: 300px !important;
  object-fit: cover;

}

.Slides {
  text-align: center;
  min-width: 100%;
}

input {
  font-family: "brother-1816", sans-serif;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 40px;
  border: 0px;
  border-bottom: 2px solid #780116;
  width: 80%;
  height: 10px;
}

form {
  border: solid 2px #780116;
  border-radius: 16px;
  padding: 15px;
  margin-top: 50px;
}

.merch {
  padding-top: 32px !important;
  background-color: #F5F1DC;
  padding-bottom: 32px !important;
  padding: 20px;

}

.registreer {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  padding: 20px;
}

footer {
  background-color: #F5F1DC;
  color: #780116 !important;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px !important;
  margin-top: 40px;

  align-items: center;
}

footer a {
  padding: 0px !important;
}

footer img {
  width: 70%;
}

.fa-brands {
  font-size: 32px !important;
}

.left_footer {
  font-size: 20px !important;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.middle_footer {
  font-size: 20px !important;
  padding-top: 16px;
  margin: 20px 0px 20px 0px;
}

.right_footer {
  font-size: 20px !important;
  padding-top: 16px;
  font-size: 14px;
  padding-bottom: 0px;
}

.footerP {
  font-size: 15px;
  line-height: 24px;
  padding-top: 40px !important;
  margin: 0px !important;
  text-align: center;
  background-color: #F5F1DC;
}

.socialMedia {
  display: flex;
  gap: 16px;
}

.logo {
  width: 50%
}

.mainmenu {
  display: none;
  visibility: hidden;
}

.openbtn {
  display: inline-block
}


/* tablet */
@media (min-width: 768px) and (max-width: 992px) {

  .logo {
    width: 25%
  }

  .openbtn {
    display: inline-block
  }

  .mainmenu {
    display: none;
    visibility: hidden;
  }

  .hero {
    padding-top: 180px;
  }

  .hero a {
    display: inline-block;
    margin-right: 15px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin: 0px !important;

  }

  .hero_title {
    font-size: 90px;
    line-height: 90px;
  }

  .illustrations img {
    position: absolute;
    width: 10vw;
  }

  .illustrations {
    position: absolute;
    padding: top 0px !important;
    margin-left: 10vw;
    margin-top: 40px;
    height: auto;
    z-index: 1;
  }

  .snack1 {
    left: 70vw;
    height: auto;
    top: 20px;
  }

  .snack2 {
    left: 57vw;
    top: 20px;
  }

  .snack3 {
    left: 66vw;
    top: -40px;
  }

  .snack4 {
    left: 50vw;
    top: -40px;
  }

  h1 {
    font-size: 60px;
    line-height: 50px;
  }

  h2 {
    font-size: 30px;

  }

  h3 {
    font-size: 20px;
  }

  .Slides img {
    margin: 20px;
    width: 490px !important;
    height: 500px !important;
    object-fit: cover;

  }

  input {
    margin-right: 50px;
    padding: 8px;
    margin-bottom: 40px;
    width: 95%;
  }

  form {
    padding: 32px;
  }


  .footerP {
    font-size: 15px;
    line-height: 24px;
  }
 footer img {
    width: 90%;
    margin-left: -20px;
  }


  footer .containerDesktop {
    display: flex;
    flex-direction: row;
    /* naast elkaar */
    justify-content: space-between;
    /* verdeelt de secties */
    align-items: flex-start;
    /* bovenkant uitlijnen */
    gap: 20px;
    padding: 20px 20px;
  }

  .left_footer {
    font-size: 20px !important;
    display: inline-block;
    text-align: left;
  }


  .middle_footer {
    font-size: 20px !important;
    padding-left: 40px;
    margin: 20px 0px 20px 0px;
  }

  .middle_footer a,
  .left_footer a,
  .right_footer a {
    margin-top: 20px !important;
    text-align: left;
  }

  .right_footer {
    margin-top: 20px !important;
    font-size: 20px !important;
    padding-left: 120px;
    font-size: 14px;
    padding-bottom: 0px;
  }


}



/* Desktop */
@media (min-width: 992px) {

  .containerDesktop {
    max-width: 1400px;
    margin: 0 auto;
  }

  .mainmenu {

    display: flex;
    visibility: visible !important;
  }

  .logo {
    width: 20%;
  }

  .sidepanel,
  .openbtn {
    display: none;
    visibility: hidden;
  }

  header .containerDesktop {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .hero {
    padding-top: 240px;
    padding-bottom: 64px;

  }

  .hero a {
    display: inline-block;
    margin-right: 20px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin-left: 0px !important;

  }

  .illustrations img {
    position: absolute;
    width: 10vw;
  }

  .illustrations {
    position: absolute;
    padding: top 0px !important;
    margin-left: 10vw;
    margin-top: 40px;
    height: auto;
    z-index: 1;
  }

  .snack1 {
    left: 38vw;
    height: auto;
    top: 0px;
  }

  .snack2 {
    left: 32vw;
    top: -230px;
  }

  .snack3 {
    left: 28vw;
    top: -60px;
  }

  .snack4 {
    left: 18vw;
    top: -185px;
  }

  h1 {
    font-size: 60px;
    line-height: 50px;
  }

  h2 {
    font-size: 30px;

  }

  h3 {
    font-size: 20px;
  }

  .hero_title {
    font-size: 130px;
    line-height: 140px;
  }

  .over {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }

  .wijZijn p {
    min-width: 600px !important;
    text-align: left !important;
    padding-right: 70px;
  }

  .wijZijn img {
    width: 35% !important;
    margin-left: 40px !important;
  }

  .wijZijn {
    display: flex !important;
    flex-direction: row !important;
    align-items: top !important;
  }

  .platform {
    display: flex !important;
    flex-direction: row !important;
    align-items: top !important;
  }

  .platform p {
    min-width: 600px !important;
    text-align: left !important;
    padding-right: 70px;
  }

  .platform img {
    width: 35% !important;
    margin-left: 40px !important;
  }

  .over a {
    display: inline-block;
    margin-left: 0px !important;
    padding-right: 25px !important;
  }

  .over {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
  }

  .events {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
  }

  .events a {
    display: inline-block;
    margin-left: 0px !important;
    padding-right: 25px !important;
  }

  .items {
    display: flex;
    gap: 20px;
    align-items: stretch;
    margin-bottom: 60px;
  }

  .Slides img {
    margin: 20px;
    width: 590px !important;
    height: 600px !important;
    object-fit: cover;

  }

  .form-row {
    display: contents;
  }

  .form-field input {

    margin-bottom: 40px;
    width: 90%;
  }

  .form-grid {
    padding: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 80px;
  }

  .registreer .primary_button {
    display: inline-block;
    width: fit-content;
    /* past zich aan de tekst aan */
    padding: 10px 20px;
    /* kortere breedte */
    text-align: center;
  }

  footer img {
    width: 90%;
    margin-left: -20px;
  }


  footer .containerDesktop {
    display: flex;
    flex-direction: row;
    /* naast elkaar */
    justify-content: space-between;
    /* verdeelt de secties */
    align-items: flex-start;
    /* bovenkant uitlijnen */
    gap: 20px;
    padding: 20px 0;
  }

  .left_footer {
    font-size: 20px !important;
    display: inline-block;
    text-align: left;
  }


  .middle_footer {
    font-size: 20px !important;
    padding-left: 40px;
    margin: 20px 0px 20px 0px;
  }

  .middle_footer a,
  .left_footer a,
  .right_footer a {
    margin-top: 20px !important;
    text-align: left;
  }

  .right_footer {
    margin-top: 20px !important;
    font-size: 20px !important;
    padding-left: 120px;
    font-size: 14px;
    padding-bottom: 0px;
  }

 
}